#deck-form-section {
    padding: rem(10) rem(20);
}

#deck-section {
    padding: rem(10) rem(20);
}

#deck-section table tr td a {
    font-size: $font-md;
}

#create-deck-btn-div {
    margin-block-start: rem(5);
}

#option-nav {
    @include screen-breakpoint {
        padding: 0;

        > ul {
            display: flex;
            justify-content: space-around;
            overflow: hidden;
            padding: 0;
            margin: 0;
    
            > li {
                float: left;
    
                > a {
                    padding: 0 rem(10);
                }
            }
        }

        visibility: hidden;
    }
}

#option-display {
    @include screen-breakpoint {
        display: none;

        // &.fade-in {
        //     animation: fade-in 300ms ease-in-out forwards;
        // }
    
        // &.fade-out {
        //     animation: fade-out 300ms ease-in-out forwards;
        // }
        
        &.appear {
            display: block;
            visibility: visible;
        }
        
        &.disappear {
            display: none;
            visibility: hidden;
        }
    }
}

#option-area {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 rem(15);
    row-gap: rem(10);
}

#create-form-div {
    @include screen-breakpoint {
        visibility: hidden;
        padding: 0;

        &.fade-in {
            animation: fade-in 300ms ease-in-out forwards;
        }
    
        &.fade-out {
            animation: fade-out 300ms ease-in-out forwards;
        }

        &.appear {
            display: block;
        }
        
        &.disappear {
            display: none;
        }
    }
}

#edit-form-div {
    @include screen-breakpoint {
        display: none;
        padding: rem(10) rem(20);

        &.appear {
            display: block;
            visibility: visible;
        }
        
        &.disappear {
            display: none;
            visibility: hidden;
        }
    }
}

#create-message {
    height: rem(30);
}

#save-submit, #create-submit {
    margin: rem(15) 0;
}

.overlay-background {
    // Display
    display: block;
    opacity: 1;
    visibility: hidden;
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // Appearance
    background: linear-gradient($darkGreen, transparent);

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }

    @include screen-breakpoint {
        display: none;
    }
}

.front-layer {
    // Display
    display: block;
    opacity: 1;
    visibility: hidden;
    // Position
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    // Dimension
    width: 70%;
    height: max-content;
    // Padding
    padding: rem(25) 0;
    // Appearance
    border-radius: rem(5);
    background: white;
    // Content
    text-align: center;

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }

    @include screen-breakpoint {
        // Display
        display: block;
        opacity: 1;
        visibility: hidden;
        // Position
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: initial;
        // Dimension
        width: auto;
        height: max-content;
        // Padding
        padding: rem(25) 0;
        // Appearance
        border-radius: 0;
        background: transparent;
        // Content
        text-align: center;

        &.fade-in {
            animation: none;
        }
    
        &.fade-out {
            animation: none;
        }

        &.fade-in-once {
            animation: fade-in 150ms ease-in-out forwards;
        }
    }
}

.go-back-btn-div {
    display: grid;
    justify-content: left;
    align-items: center;
    padding: 0 rem(15);

    @include screen-breakpoint {
        display: none;
    }
}
