html {
    box-sizing: border-box;
    min-width: em(400);
    max-width: em(1100);
    margin: auto;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
    background-color: $lightGray;
    padding: rem(20) rem(20);
    height: em(100);
}

main {
    padding: 0;
}

h1 {
    margin: 0;
    font-size: $font-xlg;
}

h4 {
    margin: rem(10) 0;
}

// Register and login page
#register-div, #login-div {
    padding: rem(10) rem(30);
}

#register-form, #login-form{
    display: grid;
    justify-content: start;
    justify-items: start;
    align-content: space-between;
    row-gap: rem(20);
}

.register-input, .login-input {
    width: rem(350);
}

// Archive page
#archive-div {
    padding: rem(10) rem(30);
}

// Flexbox
.flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(10);

    &-jc-sb {
        justify-content: space-between;
        align-items: center;
    }

    &-jc-sa {
        justify-content: space-around;
        align-items: center;
    }

    &-jc-c {
        justify-content: center;
        align-items: center;
    }

    &-jc-r {
        justify-content: right;
        align-items: center;
    }

    &-1 {
        flex: 1;
    }

    &-2 {
        flex: 2;
    }
}

// Grid
.grid {
    display: grid;
}

.grid-area {
    &-top {
        grid-area: top;
    }

    &-left {
        grid-area: left;
    }

    &-center {
        grid-area: center;
    }

    &-right {
        grid-area: right;
    }

    &-bottom{
        grid-area: bottom;
    }
}

.header-grid {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
        'top top'
        'left right';
    padding: 0 rem(15);
    row-gap: rem(15);
}

.game-btn-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: rem(20);
}

.collection-grid {
    @include screen-breakpoint {
        display: grid;
        justify-content: start;
        align-items: start;
        grid-template-areas:
            'left top right'
            'left center bottom';
        grid-template-rows: em(98) auto;
        grid-template-columns: 20% 60% 20%;
    
        > .grid-area-left {
            background-color: $lightRed;
        }
    
        // > .grid-area-top {
        //     background-color: aquamarine;
        // }

        // > .grid-area-center {
        //     background-color: cornflowerblue;
        // }

        // > .grid-area-right {
        //     background-color: cadetblue;
        // }

        // > .grid-area-bottom {
        //     background-color: chocolate;
        // }
    }
}

// Visibility
.hide-for-mobile {
    display: none;

    @include screen-breakpoint {
        display: block;
    }
}

.hide-for-desktop {
    display: block;

    @include screen-breakpoint{
        display: none;
    }
}

// Forms
.form {
    &-group {
        display: block;
        padding: rem(10) rem(10);
    }

    &-input-number {
        border-color: black;
        border-width: 1px;
        width: 40px;
        text-align: center;
    }

    &-input-submit {
        height: rem(28);
        width: rem(56);
        border-radius: rem(20);
        border-width: 0;
        background-color: $darkRed;
        color: white;
        font-size: $font-sm;
        font-weight: $font-normal;

        &:hover {
            background-color: $darkGreen;
        }
    }
}

// Buttons
.ordinary-btn {
    height: rem(20);
    width: rem(56);
    border-radius: rem(20);
    border-width: 0;
    background-color: orange;
    color: white;
    font-size: $font-xsm;
    font-weight: $font-normal;

    &:hover {
        background-color: $mediumOrange;
    }
}

.cancel-btn {
    height: rem(28);
    width: rem(56);
    border-radius: rem(20);
    border-width: 0;
    background-color: $darkGray;
    color: white;
    font-size: $font-sm;
    font-weight: $font-normal;

    &:hover {
        background-color: $mediumGray;
    }
}

.grade-btn {
    height: rem(81.6);
    width: rem(81.6);
    border-radius: rem(81.6);
    border-style: none;
    color: white;
    font-size: $font-sm;
    font-weight: $font-normal;

    &.cake-btn {
        background-color: $mediumPink;


        &:hover {
            background-color: $darkPink;
        }
    }

    &.normal-btn {
        background-color: $mediumOrange;


        &:hover {
            background-color: $darkOrange;
        }
    }

    &.challenging-btn {
        background-color: $mediumPurple;


        &:hover {
            background-color: $darkPurple;
        }
    }
}

.link-btn {
    border: none;
    background-color: transparent;
    font-size: $font-xsm;
    padding: 0;

    &:hover {
        color: gray;
        cursor: pointer;
    }
}

// Functionality
.no-scroll {
    overflow: hidden;
}

// Lists
ul {
    margin-block-start: em(32);
    margin-block-end: em(32);
    padding-left: rem(32);
    padding-right: rem(32); 
}

li {
    list-style-type: none;

    &:not(:last-child) {
        margin-block-end: rem(10);
    }
}

// Links
a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

// Tables
td {
    padding: rem(10) rem(10);

    > a {
        font-size: $font-xsm;
    }
}
