html {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-size: $font-xlg;
}

h4 {
    margin: rem(10) 0;
}

.overlay-background {
    // Display
    display: block;
    opacity: 1;
    visibility: hidden;
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // Appearance
    background: linear-gradient($dargGreen, transparent);

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }
}

// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
        align-items: center;
    }

    &-jc-sa {
        justify-content: space-around;
        align-items: center;
    }

    &-jc-c {
        justify-content: center;
        align-items: center;
    }

    &-1 {
        flex: 1;
    }

    &-2 {
        flex: 2;
    }
}

// Grid
.grid {
    display: grid;
}

.grid-area {
    &-top {
        grid-area: top;
    }

    &-left {
        grid-area: left;
    }

    &-center {
        grid-area: center;
    }

    &-right {
        grid-area: right;
    }

    &-bottom{
        grid-area: bottom;
    }
}

.header-grid {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
        'top top'
        'left right';
    padding: 0 rem(15);
    row-gap: rem(15);
}

.collection-grid {
    @include screen-breakpoint {
        display: grid;
        justify-content: start;
        align-items: start;
        grid-template-areas:
            'left top'
            'left right';
        padding: 0 rem(15);
        row-gap: rem(15);
    
        > .grid-area-left {
            background-color: aqua;
        }
    
        > #option-section {
            .grid-area-top {
                background-color: aquamarine;
            }
    
            > .grid-area-right {
                background-color: cadetblue;
            }
        }
    }
}

// Visibility
.hide-for-mobile {
    display: none;

    @include screen-breakpoint {
        display: block;
    }
}

.hide-for-desktop {
    display: block;

    @include screen-breakpoint{
        display: none;
    }
}

// Forms
.form {
    &-group {
        display: block;
        padding: rem(10) rem(10);
    }

    &-input-number {
        border-color: black;
        border-width: 1px;
        width: 40px;
        text-align: center;
    }

    &-input-submit {
        height: rem(28);
        width: rem(56);
        border-radius: rem(20);
        border-width: 0;
        background-color: $darkRed;
        color: white;
        font-size: $font-sm;
        font-weight: $font-normal;

        &:hover {
            background-color: $dargGreen;
        }
    }
}

// Buttons
.cancel-btn {
    height: rem(28);
    width: rem(56);
    border-radius: rem(20);
    border-width: 0;
    background-color: $darkGray;
    color: white;
    font-size: $font-sm;
    font-weight: $font-normal;

    &:hover {
        background-color: $mediumGray
    }
}

.grade-btn {
    height: rem(81.6);
    width: rem(81.6);
    border-radius: rem(81.6);
    border-style: none;
    color: white;
    font-size: $font-xsm;
    font-weight: $font-normal;

    &.cake-btn {
        background-color: $normalPink;


        &:hover {
            background-color: $darkPink;
        }
    }

    &.normal-btn {
        background-color: $normalOrange;


        &:hover {
            background-color: $darkOrange;
        }
    }

    &.challenging-btn {
        background-color: $normalPurple;


        &:hover {
            background-color: $darkPurple;
        }
    }
}

.link-btn {
    border: none;
    background-color: transparent;
    font-size: $font-xsm;
    padding: 0;

    &:hover {
        color: gray;
        cursor: pointer;
    }
}

// Functionality
.no-scroll {
    overflow: hidden;
}

// Lists
ul {
    margin-block-start: em(32);
    margin-block-end: em(32);
    padding-left: rem(32);
    padding-right: rem(32); 
}

li {
    list-style-type: none;

    &:not(:last-child) {
        margin-block-end: rem(10);
    }
}

// Links
a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

// Tables
td {
    padding: rem(10) rem(10);

    > a {
        font-size: $font-xsm;
    }
}
