header {
    background-color: $lightGray;
    padding: rem(20) rem(20);
}

.header {
    &__logo {
        height: rem(100);
        width: auto;
    }

    &__icon {
        &:hover {
            cursor: pointer;
        }

        > p {
            // Dimension
            width: rem(24);
            height: rem(2);
            // Margin
            margin-block-start: rem(6);
            margin-block-end: 0;
            // Appearance
            background-color: black;
            // Transition
            transition: all 150ms ease-in-out;
            transform-origin: rem(1) rem(1);
        }

        &.open {
            > p:first-child {
                transform: rotate(45deg);
            }

            > p:nth-child(2) {
                opacity: 0;
            }

            p:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__menu {
        // Position
        position: absolute;
        top: rem(132);
        bottom: 0;
        left: 0;
        right: 0;
        // Dimension
        height: auto;
        width: auto;
        // Margin
        margin-left: rem(8);
        margin-right: rem(8);
        // Appearance
        display: block;
        opacity: 1;
        visibility: hidden;
        background: orange;
        // Content
        text-align: left;

        &.fade-in {
            animation: fade-in 300ms ease-in-out forwards;
        }

        &.fade-out {
            animation: fade-out 300ms ease-in-out forwards;
        }
    }
    
    &__nav {
        padding: rem(12) rem(12);
    }
}

main {
    padding: rem(20) rem(20);
}