#play-option-section {
    // Display
    display: block;
    opacity: 1;
    visibility: hidden;
    // Position
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    // Dimension
    width: 70%;
    height: max-content;
    min-width: rem(300);
    // Padding
    padding: rem(25) 0;
    // Appearance
    border-radius: rem(5);
    background: white;
    // Content
    text-align: center;

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }
}

#game-section {
    // Display
    display: grid;
    opacity: 1;
    visibility: hidden;
    // Position  
    position: absolute;
    top: rem(90);
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    // Dimension
    width: 70%;
    height: 70%;
    min-width: rem(300);
    // Padding
    padding: rem(16) rem(16);
    // Appearance
    border-radius: rem(5);
    background: $lightBeige;
    // Content
    text-align: center;
    align-items: center;

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }
}

#game-message {
    height: rem(30);
}

#game-card {
    // Display
    display: grid;
    // Dimension
    height: rem(256);
    width: rem(152);
    // Padding
    padding: 1rem 1rem;
    // Content
    align-items: center;
    font-size: $font-md;

    &.front-side {
        border-width: 0.5rem;
        border-radius: rem(10);
        border-style: solid;
        border-color: white;
        
        background-image: url("chili_cards_03.jpg");
        background-repeat: repeat;
        background-size: 20%;
    }
    
    &.back-side {
        border-width: 0.5rem;
        border-radius: rem(10);
        border-style: solid;
        border-color: white;
        
        background-image: none;
        background-color: $lightGray;
    }

    &.finished {
        background-image: url("chili_cards_04.jpg");
        background-size: cover;
    }
}

#game-btn-div {
    height: rem(74);
}

#countdown {
    font-size: $font-md;
}

.play-overlay-background {
    // Display
    display: block;
    opacity: 1;
    visibility: hidden;
    // Position
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // Appearance
    background: linear-gradient($darkGreen, transparent);

    &.fade-in {
        animation: fade-in 300ms ease-in-out forwards;
    }

    &.fade-out {
        animation: fade-out 300ms ease-in-out forwards;
    }
}

.play-deck {
    background-image: url("chili_cards_05.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    height: rem(80);
    width: rem(100);
    
    display: inline-block;
    padding-top: rem(60);
    
    text-align: center;
    font-size: $font-md;
    font-weight: $font-bold;
}

.front, .back-main {
    font-size: $font-md-lg;
}