// Colors
$lightBeige: hsl(50, 70%, 90%);
$lightGray: hsl(30, 6%, 95%);
$mediumGray: hsl(30, 3%, 70%);
$normalPink: hsl(320, 78%, 70%);
$normalOrange: hsl(30, 90%, 70%);
$normalPurple: hsl(268, 76%, 70%);
$dargGreen: hsl(120, 60%, 50%);
$darkRed: hsl(5, 95%, 46%);
$darkGray: hsl(30, 3%, 50%);
$darkPink: hsl(310, 73%, 50%);
$darkOrange: hsl(30, 90%, 50%);
$darkPurple: hsl(265, 80%, 60%);

// Font sizes
$font-xsm: rem(12);
$font-sm: rem(14);
$font-sm-md: rem(16);
$font-md: rem(18);
$font-md-lg: rem(26);
$font-lg: rem(34);
$font-xlg: rem(42);

// Font weights
$font-thin: 300;
$font-normal: 400;
$font-bold: 700;

// Breakpoints
$screen-lg-min: em(576);