{% extends 'anki/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}My collection{% endblock %}

{% block main %}
<main>
    <div id="message">{{ message }}</div>

    <div class="collection-grid">
        <div class="grid-area-left">
            <section id="deck-form-section">
                <h3>Create new deck</h3>
                    <form action="{% url 'create' 'deck' %}" method="post" id="deck-form">
                        {% csrf_token %}
                        {{ deck_form | crispy }}
                        <button type="submit" id="create-deck-btn-div" class="ordinary-btn">Create</button>
                    </form>
            </section>
        
            <section id="deck-section">
                <h3>My decks</h3>
        
                <table>
                    {% for deck in decks %}
                        <tr>
                            <td><a href="#" class="manage-link" data-id="{{ deck.id }}" data-name="{{ deck.name }}">{{ deck.name }}</a></td>
                        
                            <!-- <td><button type="button" class="manage-btn link-btn" data-id="{{ deck.id }}">Manage</button></td> -->
                            
                            <td>
                                <form action="{% url 'archive' %}" method="post" id="archive-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="deck-to-archive" id="deck-to-archive" value="{{ deck.id }}">
                                    <button type="submit" class="link-btn">Archive</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
            </section>
        </div>
        
        <div class="overlay-background"></div>

        
        <div class="grid-area-top">
            <section id="manage-section">
                <nav id="option-nav" class="front-layer">
                    <div class="hide-for-mobile">
                        <h3 id="manage-title"></h3>
                    </div>
                    
                    <div class="go-back-btn-div">
                        <button type="button" id="nav-go-back-btn" class="go-back-btn">Go back</button>
                    </div>

                    <ul>
                        <li><a href="#" id="deck-info-link">Deck info</a></li>
                        <li><a href="#" id="list-deck-link">List deck</a></li>
                        <li><a href="#" id="create-card-link">Create card</a></li>
                    </ul>
                </nav>
            </section>
        </div>

        <div class="grid-area-center">
            <div id="option-display" class="front-layer">
                <div class="go-back-btn-div">
                    <button type="button" id="display-go-back-btn" class="go-back-btn">Go back</button>
                </div>

                <div id="option-area"></div>

                <div id="next-previous-btn-div"></div>
            </div>

            <div id="create-form-div" class="front-layer">
                <div class="go-back-btn-div">
                    <button type="button" id="create-go-back-btn" class="go-back-btn">Go back</button>
                </div>
                
                <div id="create-message"></div>

                <!-- <h4 class="hide-for-desktop">Create new card</h4> -->

                <form action="#" id="create-basic-card-form">
                    {% csrf_token %}
                    {{ basic_card_form | crispy }}
                    <button type="submit" id="create-submit" class="ordinary-btn">Create</button>
                </form> 
            </div>
        </div>
        
        <div class="grid-area-bottom">            
            <div id="edit-form-div" class="front-layer">
                <div class="go-back-btn-div">
                    <button type="button" id="edit-go-back-btn" class="go-back-btn">Go back</button>
                </div>
                
                <!-- <h4 class="hide-for-desktop">Edit card</h4> -->

                <form action="#" id="edit-basic-card-form">
                    {% csrf_token %}
                    {{ basic_card_form | crispy }}
                    <input type="hidden" id="id-field">
                    <button type="submit" id="save-submit" class="ordinary-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}