{% extends 'anki/layout.html' %}

{% block title %}Index{% endblock %}

{% block main %}
    <h3>Welcome to Chili Cards!</h3>

    <p>
        Chili Cards lets you create flashcards with front and back sides to help you with the study of languages, school disciplines, and anything you want really.
        Create different decks to organize your cards by themes, and play with them (as we prefer to call it) any time you have that quick break from work or for long hours straight, when preparing to an exam.
        You can even configurate your study session by minutes you want to spend or number of cards you want review.
    </p>

    <p>Studying with flashcards was popularized by Anki and other applications, and many scientific studies highlight the method's efficiency. Give it a try!</p>
    {% if user.is_authenticated == False %}  
        <p>If you are new to the website, please register <a href="{% url 'register' %}">here</a> to start creating your cards and decks.</p>

        <p>Or login <a href="{% url 'login' %}">here</a>.</p>
    {% endif %}
{% endblock %}