{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'anki/css/styles.css' %}">
        <script src="{% static 'anki/js/main.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="flex flex-jc-sb">
                <img id="header-logo" src="{% static 'anki/images/chili_cards_01.jpg' %}" alt="Chili Cards logo" class="header__logo">

                <h1 id="header-title">Chili Cards</h1>

                <div id="header-menu" class="header__menu">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                
                <nav id="header-nav" class="header__nav">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'play' %}">Play cards</a></li>
                            <li><a href="{% url 'collection' %}">My collection</a></li>
                            <li><a href="{% url 'archive' %}">Archive</a></li>   
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Log in</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>

                <div>
                    {% if user.is_authenticated %}
                        Signed in as <strong>{{ user.username }}</strong>
                    {% endif %}
                </div>
            </div>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>