{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'anki/css/styles.css' %}">
        <script src="{% static 'anki/js/main.js' %}"></script>
    </head>
    <body>
        <header>
            <div class="flex flex-jc-sb">
                <a href="/"><img id="header-logo" src="{% static 'anki/images/chili_cards_05.jpg' %}" alt="Chili Cards logo" class="header__logo flex-1"></a>

                <div class="flex-1 header-grid">
                    {% if user.is_authenticated %}
                        <div id="logged-user" class="grid-area-top">
                            Signed in as <strong>{{ user.username }}</strong>
                        </div>
                    {% else %}
                        <div id="logged-user" class="grid-area-top empty"></div>
                    {% endif %}

                    <h1 id="header-title" class="grid-area-left">Chili Cards</h1>

                    <div id="header-icon" class="header__icon hide-for-desktop grid-area-right">
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>

                    <nav id="header-nav" class="header__nav hide-for-mobile">
                        <ul class="flex flex-jc-r">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'play' %}">Play cards</a></li>
                                <li><a href="{% url 'collection' %}">My collection</a></li>
                                <li><a href="{% url 'archive' %}">Archive</a></li>   
                                <li><a href="{% url 'logout' %}">Log out</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Log in</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                <nav id="header-menu" class="header__menu">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'play' %}">Play cards</a></li>
                            <li><a href="{% url 'collection' %}">My collection</a></li>
                            <li><a href="{% url 'archive' %}">Archive</a></li>   
                            <li><a href="{% url 'logout' %}">Log out</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">Log in</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        {% block main %}{% endblock %}
    </body>
</html>