{% extends 'anki/layout.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<main>
    <div id="login-div">
        <h2>Login</h2>

        <form action="{% url 'login' %}" method="post" id="login-form">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username" class="login-input">
            <input type="password" name="password" placeholder="Password" class="login-input">
            <input type="submit" value="Login">
        </form>
    
        <div id="login-message">
            {% if message %}
                {{ message }}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}