{% extends 'anki/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}Play cards{% endblock %}

{% block main %}
    <div id="message">{{ message }}</div>

    <section id="deck-section">
        <h5>My decks</h5>
        <ul>
            {% for deck in decks %}
                <a href="#" class="deck" data-id="{{ deck.id }}" >{{ deck.name }}</a>
            {% endfor %}
        </ul>
    </section>

    <section id="option-section" style="display: none;">
        <form action="#" id="quantity-form">
            <label for="quantity">Enter card quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1">
            
            <label for="minutes">Enter timer minutes:</label>
            <input type="number" id="minutes" name="minutes" min="1" max="60">
            
            <label for="skip-timer">Skip timer</label>
            <input type="checkbox" id="skip-timer" name="skip-timer">
            
            <input type="submit" value="Start">
        </form>
    </section>

    <section id="countdown"></section>

    <section id="card-section"></section>

    <section id="btn-section"></section>
{% endblock %}