{% extends 'anki/layout.html' %}

{% load crispy_forms_tags %}

{% block title %}Play cards{% endblock %}

{% block main %}
    <div id="message">{{ message }}</div>

    <section id="deck-section">
        <h5>My decks</h5>
        <ul>
            {% for deck in decks %}
                <a href="#" class="deck" data-id="{{ deck.id }}" >{{ deck.name }}</a>
            {% endfor %}
        </ul>
    </section>

    <section id="option-section" style="display: none;">
        <form action="#" id="quantity-form">
            <label for="quantity">Enter card quantity (between 1 and deck total):</label>
            <input type="number" id="quantity" name="quantity" min="1">
            <input type="submit" value="Start">
        </form>
    </section>

    <section id="card-section"></section>

    <section id="btn-section"></section>

    <section id="edit-section" style="display: none;">
        <h5>Edit card</h5>
            <form action="#" method="post" id="basic-card-form">
                {% csrf_token %}
                {{ basic_card_form | crispy }}
                <input type="hidden" id="id-field">
                <input type="submit" value="save">
            </form>
    </section>
{% endblock %}