@keyframes fade-in {
  from {
    visibility: hidden; }
  1% {
    visibility: visible; }
  to {
    visibility: visible;
    opacity: 1; } }
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    opacity: 0; }
  to {
    visibility: hidden; } }
html {
  font-size: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5; }

.flex-jc-sb {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.flex-jc-sa {
  display: flex;
  justify-content: space-around;
  align-items: center; }
.flex-jc-c {
  display: flex;
  justify-content: center;
  align-items: center; }

.hide-for-mobile {
  display: none; }
  @media (min-width: 36em) {
    .hide-for-mobile {
      display: block; } }

.hide-for-desktop {
  display: block; }
  @media (min-width: 36em) {
    .hide-for-desktop {
      display: none; } }

.form-group {
  display: block;
  padding: 0.625rem 0.625rem; }
.form-input-number {
  border-color: black;
  border-width: 1px;
  width: 40px;
  text-align: center; }
.form-input-submit {
  height: 1.75rem;
  width: 3.5rem;
  border-radius: 1.25rem;
  border-width: 0;
  background-color: #e51806;
  color: white;
  font-size: 0.875rem;
  font-weight: 400; }
  .form-input-submit:hover {
    background-color: #33cc33; }

.cancel-btn {
  height: 1.75rem;
  width: 3.5rem;
  border-radius: 1.25rem;
  border-width: 0;
  background-color: #83807c;
  color: white;
  font-size: 0.875rem;
  font-weight: 400; }
  .cancel-btn:hover {
    background-color: #b5b3b0; }

.quit-btn {
  height: 1.75rem;
  width: 3.5rem;
  border-radius: 1.25rem;
  border-width: 0;
  background-color: #83807c;
  color: white;
  font-size: 0.875rem;
  font-weight: 400; }
  .quit-btn:hover {
    background-color: #b5b3b0; }

.no-scroll {
  overflow: hidden; }

ul {
  margin-block-start: 2em;
  margin-block-end: 2em;
  padding-left: 2rem;
  padding-right: 2rem; }

li {
  list-style-type: none; }
  li:not(:last-child) {
    margin-block-end: 0.625rem; }

a, a:visited {
  text-decoration: none;
  color: black; }

a:hover {
  color: gray; }

header {
  background-color: #f3f2f1;
  padding: 1.25rem 1.25rem; }

.header__logo {
  height: 6.25rem;
  width: auto; }
.header__icon:hover {
  cursor: pointer; }
.header__icon > p {
  width: 1.5rem;
  height: 0.125rem;
  margin-block-start: 0.375rem;
  margin-block-end: 0;
  background-color: black;
  transition: all 150ms ease-in-out;
  transform-origin: 0.0625rem 0.0625rem; }
.header__icon.open > p:first-child {
  transform: rotate(45deg); }
.header__icon.open > p:nth-child(2) {
  opacity: 0; }
.header__icon.open p:last-child {
  transform: rotate(-45deg); }
.header__menu {
  position: absolute;
  top: 8.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: block;
  opacity: 1;
  visibility: hidden;
  background: orange;
  text-align: left; }
  .header__menu.fade-in {
    animation: fade-in 300ms ease-in-out forwards; }
  .header__menu.fade-out {
    animation: fade-out 300ms ease-in-out forwards; }
.header__nav {
  padding: 0.75rem 0.75rem; }

main {
  padding: 1.25rem 1.25rem; }

#index-welcome {
  padding-top: 0;
  padding-bottom: 1.25rem; }

.index-p {
  font-size: 0.875rem;
  text-align: justify;
  font-weight: 300; }
.index-a {
  font-style: italic; }

#overlay-background {
  display: block;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#33cc33, transparent); }
  #overlay-background.fade-in {
    animation: fade-in 300ms ease-in-out forwards; }
  #overlay-background.fade-out {
    animation: fade-out 300ms ease-in-out forwards; }

#option-section {
  display: none;
  position: absolute;
  top: 5.625rem;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 70%;
  height: max-content;
  padding: 1.5625rem 0;
  border-radius: 0.3125rem;
  background: white;
  text-align: center; }

#game-section {
  display: block;
  opacity: 1;
  visibility: hidden;
  position: absolute;
  top: 5.625rem;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  width: 70%;
  height: max-content;
  padding: 1rem 1rem;
  border-radius: 0.3125rem;
  background: white;
  text-align: center; }
  #game-section.fade-in {
    animation: fade-in 300ms ease-in-out forwards; }
  #game-section.fade-out {
    animation: fade-out 300ms ease-in-out forwards; }

.card {
  border-width: 0.0625rem;
  border-style: solid;
  padding: 1rem 1rem;
  height: 256px;
  width: 152px;
  margin-block-start: 20px;
  margin-block-end: 20px; }

.play-deck {
  background-image: url("chili_cards_01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 5rem;
  width: 6.25rem;
  display: inline-block;
  padding-top: 3.75rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700; }

/*# sourceMappingURL=styles.css.map */
